<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--扫描service-->
    <context:component-scan base-package="com"/>
    <!--配置数据源-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/userInfo?characterEncoding=utf-8"></property>
        <property name="username" value="root"></property>
        <property name="password" value="123"></property>
    </bean>
    <!--配置sessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <!--扫描别名-->
        <property name="typeAliasesPackage" value="com.lh.entity"></property>
        <!--查找mapping.xml-->
        <property name="mapperLocations">
            <list>
                <value>classpath:mapping/*.xml</value>
            </list>
        </property>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.lh.dao"/>
    </bean>



    <!--配置shiro-->
    <bean id="ShiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>

        <property name="loginUrl" value="/login.jsp"/>
        <!-- 配置登陆页面
        <property name="loginUrl" value="/index.jsp"/>-->
        <!--override these for application-specific urls if you like 如果你愿意可以重写这些程序的url
        <property name="loginUrl" value="/login.jsp"/>
        <property name="successUrl" value="/home.jsp"/>
        <property name="unauthorizedUrl" value="/unauthorized.jsp"/>-->
        <!-- The 'filters' property is not necessary since any declared javax.servlet.Filter bean -->
        <!-- defined will be automatically acquired and available via its beanName in chain -->
        <!-- definitions, but you can perform instance overrides or name aliases here if you like: -->
        <!-- <propery name="filters">
        <util:map>
        <entry key="anAlias" value-ref="someFilter"/>
        </util:map>
        </property> -->
        <property name="filterChainDefinitions">
            <value>
                # some example chain definitions 一些示例链定义
                /index.jsp=anon
                /login/dologin.html=anon
                /dologin.html=anon
                /jsp/success.jsp=anon
                /admin/**=authc,roles[admin]
                /docs/**=authc,perms[document:read]
                /**=authc
                #more URL-to-FileterChain definitions here
            </value>
        </property>
    </bean>
    <!--配置shrio 的securityManager-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!-- Single realm app. If you have multiple realms, use the 'realms' property instead. -->
        <!-- By default the servlet container sessions will be used. Uncomment this line
        to use shiro's native sessions (see the JavaDoc for more): -->
        <!-- <property name="sessionMode" value="native"/> -->
        <property name="cacheManager" ref="cacheManager"/>
        <property name="realm" ref="myRealm"/>
        <property name="sessionMode" value="native"></property>
    </bean>
    <!--配置缓存管理器-->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:config/ehcache_shiro.xml"></property>
    </bean>
    <!--配置进行授权认证的myRealm-->
    <bean id="myRealm" class="com.lh.shiro.ShiroDbRealm"></bean>
    <!--<bean id="userService" class="com.lh.service.impl.UserServiceImpl" >

    </bean>-->
    <!-- 配置 Bean 后置处理器: 会自动的调用和 Spring 整合后各个组件的生命周期方法. -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor">
    </bean>
</beans>